<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="per.goweii.codex">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>